.table-footer {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-container {
    margin: 30px 15px;
    font-size: 14px;
    .search-box {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .box-card {
        margin-bottom: 30px;
    }
    .search {
        //   width: 30%;
        display: flex;
        margin-right: 2%;
        align-items: center;
    }
}

.btn-wrap {
    text-align: center;
    margin-top: 30px;
}

.table-title {
    margin: 20px 0;
}

.panel-group {
    margin: 40px auto auto;
    text-align: center;
    font-size: 0;
}

.card-panel {
    display: inline-block;
    margin: 0 8px 20px;
    width: 300px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
    border: 2px solid #efebeb;
    border-radius: 10px;
    .template-pic {
        width: 100%;
        height: 185px;
    }
    h2 {
        text-align: center;
        font-size: 20px;
        font-weight: normal;
    }
    &:hover,
    &.active {
        border: 2px solid #39bcf3;
        cursor: pointer;
    }
    .icon-people {
        color: #40c9c6;
    }
    .icon-message {
        color: #36a3f7;
    }
    .icon-money {
        color: #f4516c;
    }
    .icon-shoppingCard {
        color: #34bfa3;
    }
    .card-panel-icon-wrapper {
        float: left;
        margin: 25px 0 0 14px;
        padding: 16px;
        transition: all 0.38s ease-out;
        border-radius: 6px;
    }
    .card-panel-icon {
        float: left;
        font-size: 58px;
    }
    .card-panel-description {
        float: right;
        font-weight: bold;
        margin: 40px 26px 26px;
        margin-left: 0px;
        .card-panel-text {
            line-height: 18px;
            color: rgba(0, 0, 0, 0.45);
            font-size: 18px;
            margin-bottom: 12px;
        }
        .card-panel-num {
            font-size: 26px;
        }
    }
}

.main-tem-one-desc {
    font-size: 12px;
}

.main-rigth-bg .el-collapse-item__arrow {
    line-height: 35px;
}

.main-left>.el-scrollbar__wrap {
    overflow-x: hidden;
}

.main-header {
    position: relative;
    min-height: 249px;
    height: 100%;
    width: 100%;
}

.main-hander-title {
    background: url("./../../../static/images/preview.png");
    width: 498px;
    height: 80px;
    line-height: 80px;
    padding: 12px 130px 0 25px;
    /* overflow: hidden; */
    background-size: 500px;
    text-align: center;
}

.main-hander-title div {
    /* background: #267dc5; */
    /* margin-top: 50px; */
    /* border: 1px solid red; */
    /* text-align: center; */
    width: 100%;
}

.main-tem-one {
    word-wrap: break-word;
    word-break: break-all;
}

.main-tem-left {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.main-tem-right {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.main-tem-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* margin: 0 auto; */
}

.main-tem-top {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-tem-topleft {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.main-tem-topright {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.main-tem-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-tem-bottomleft {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.main-tem-bottomright {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.main-tem-one div:nth-child(1) {
    color: #5d7297;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 5px;
    /* font-family: "Courier New", Courier, monospace; */
}

.main-tem-one div:nth-child(2) {
    margin-top: 5px;
    color: #7587aa;
    font-weight: 600;
}

.main-choose-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
}


/* .main-choose-content:hover {
    background: rgba(0, 0, 0, 0.1);
  } */

.main-choose-content img {
    cursor: pointer;
}

.main-choose-img {
    display: none;
}

.main-choose-content:hover>.main-choose-img {
    display: block;
}

.main-select-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.main-select-img:hover {
    background: #f6f9fb;
}

.main-select-img:hover>.main-select-img-content input {
    background: #f6f9fb;
}

.main-select-img img {
    cursor: pointer;
}

.main-choose-img {
    display: none;
}

.main-select-img:hover>.main-choose-img {
    display: block;
}

.main-input {
    width: 100%;
    height: 30px;
    /* color: #848484; */
    outline: none;
    border: none;
    font-size: 14px;
    border-bottom: 1px #ebeef5 solid;
    /* border-bottom: 1px #17b1ed solid; */
    /* margin-top: 10px; */
}

.main-input-top {
    margin-top: 5px;
    width: 370px;
    background: none;
}

.main-align-ul {
    list-style: none;
    //  width: 100%;
    height: 30px;
    padding: 0;
    // margin-bottom: 10px;
    font-size: 0;
    //  margin-right: 10px
    li {
        line-height: 30px;
        display: inline-block;
        width: 60px;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
        background: #fff;
        border: 1px #dcdfe6 solid;
    }
    li+li {
        border-left: none;
    }
    .bgColor {
        background-color: #267dc5;
        color: #fff;
    }
}

.main-address-detail {
    width: 80%;
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
}

.main-hr {
    border: 0 none;
    border-top: 1px solid #848484;
}

.delete-wrap {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #39bcf3;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.template-title {
    margin: 10px auto;
    font-size: 20px;
    color: #101010;
}

.inpt-fill_content {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #adadad;
}

.hy-main {
    margin: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 3px 3px #eee;
    border-radius: 10px;
    height: 200px;
}

.text-wrap {
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}

.edite-title {
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    background: #39bcf3;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}

.panel-group {
    margin: 18px auto auto;
    padding-top: 20px;
    width: 950px;
    font-family: "微软雅黑";
    .active-style {
        border: 1px dotted #39bcf3;
    }
    .avatar {
        width: 100%;
        height: 100%;
    }
    .main-left {
        border: 1px #e2e2e2 solid;
        -moz-box-shadow: 0px 0px 5px #e2e2e2;
        -webkit-box-shadow: 0px 0px 5px #e2e2e2;
        box-shadow: 0px 0px 5px #e2e2e2;
        float: left;
        width: 500px;
        padding-bottom: 10px;
        background: #fff;
        .main-theme {
            padding: 15px 5px;
            cursor: pointer;
            border: 1px red solid;
            margin: 15px 0;
        }
        .banner-wrap {
            position: relative;
            width: 100%;
            height: 250px;
            .hy-img {
                width: 100%;
                height: 100%;
            }
            .banner-main {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 10px;
                width: 240px;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                text-align: center;
                color: #fff;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                .title {
                    margin: 80px auto 10px;
                    font-size: 24px;
                }
                .title-info {
                    display: inline;
                    padding: 3px 10px;
                    font-size: 12px;
                    background: rgb(81, 75, 90);
                    border-radius: 15px;
                }
            }
        }
    }
    .main-right {
        // border-radius: 5px;
        float: right;
        width: 440px;
        border: 1px #e2e2e2 solid;
        -moz-box-shadow: 0px 0px 5px #e2e2e2;
        -webkit-box-shadow: 0px 0px 5px #e2e2e2;
        box-shadow: 0px 0px 5px #e2e2e2;
        .main-rigth-bg {
            background: #fff;
            padding: 10px;
        }
        .main-title {
            background: #267dc5;
            color: #fff;
            font-size: 14px;
            height: 35px;
            line-height: 35px;
            padding-left: 10px;
            margin-top: 10px;
        }
    }
    .main-content {
        padding: 0 10px 10px 10px;
    }
    .main-title-name {
        color: #848484;
        font-size: 14px;
        padding: 10px 0;
    }
    .main-time .el-select {
        width: 120px;
    }
}

.main-footer {
    padding: 10px 5px;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
}

.main-footer div {
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    // border: 1px red solid;
}

.main-header {
    cursor: pointer;
    border: 1px #fff solid;
}

.main-theme {
    // background: #2B3948;
    padding-bottom: 20px;
    min-height: calc(100vh - 120px);
}

.main-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #267dc5;
    border: 1px solid #267dc5;
    padding-top: 10px;
    border-bottom: none;
}

.main-tab>div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-tab-title {
    padding: 5px 10px;
    // border: 1px #848484 solid;
    color: #fff;
    cursor: pointer;
}

.main-tab-title+.main-tab-title {
    border-left: none;
}

.main-tab-title:first-child {
    margin-left: 10px;
}

.main-tab-active {
    background: #fff;
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.input {
    /* width: 200px; */
    border-radius: 8px;
    outline: none;
    /* line-height: 30px; */
    height: 25px;
    border: 1px solid #eee;
    background: #fff;
    text-indent: 5px;
}

.d-wrapper {
    position: relative;
    padding: 10px 5px;
    margin: 15px 0;
    cursor: pointer;
    border: 1px #fff solid;
}

.d-desc {
    color: #848484;
    font-size: 14px;
}

.d-rate {
    margin-top: 10px;
    font-size: 22px;
    color: #17b1ed;
}

.d-rate-agree {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

.d-sex {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.d-sex+.d-sex {
    margin-left: 20px;
}

.d-upload {
    width: 130px;
    height: 130px;
    line-height: 20px;
    border-radius: 15px;
    background: #e8f8ff;
    margin-top: 10px;
    padding: 30px 5px;
    text-align: center;
    color: #b1b1b1;
}

.d-upload i {
    font-size: 20px;
}

.d-upload div {
    font-size: 12px;
}

.d-delete-icon {
    display: none;
}

.d-wrapper:hover>.d-delete-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    display: block;
}

.d-delete-icon:after {
    font-family: "iconfont";
    content: "\e7b7";
    color: #d24e46;
    font-size: 25px;
}

.d-delete-active {
    position: absolute;
    top: -10px;
    right: -10px;
    display: block;
}

.d-choose-active {
    background: #fff8dc;
    border: 1px #ccc dotted;
}

.d-textarea {
    width: 100%;
    border: 1px #17b1ed solid;
    color: #848484;
    padding: 10px !important;
    font-size: 14px;
    margin-top: 10px;
    word-break: break-all;
    /* 支持IE和chrome，FF不支持*/
    word-wrap: break-word;
    /* 以上三个浏览器均支持 */
}

.d-input {
    width: 100%;
    // height: 30px;
    color: #848484;
    font-size: 14px;
    border-bottom: 1px #ebeef5 solid;
    /* border-bottom: 1px #17b1ed solid; */
    margin-top: 10px;
    padding: 10px 0px;
    word-break: break-all;
    /* 支持IE和chrome，FF不支持*/
    word-wrap: break-word;
    /* 以上三个浏览器均支持 */
}

.d-start {
    margin-left: 2px;
    color: rgb(218, 40, 36);
}

.d-choose-title {
    border: 1px #17b1ed solid;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.d-choose-select {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border: 1px #17b1ed solid;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    // border-radius: 10px;
}

.d-choose-select i {
    color: #17b1ed;
}

.d-choose-select p {
    color: #999;
}

.d-more-select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.d-more-select>div {
    width: 24%;
}

.d-select-left+.d-select-left {
    margin-left: 1%;
}

.d-select-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.img-bg-box {
    width: 100px;
    height: 80px;
    background-size: cover;
    background-clip: content-box;
    background-position: 50% 50%;
    background-color: #f6f8f9;
    overflow: hidden;
    border: 1px solid #eee;
}

.d-img-bg-box {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-clip: content-box;
    background-position: 50% 50%;
    background-color: #f6f8f9;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 6px;
    margin-bottom: 10px;
}

.d-img-center {
    line-height: 130px;
    text-align: center;
}

.d-select-img>div {
    width: 40%;
    margin-top: 15px;
}

.d-select-img img {
    text-align: center;
    width: 50%;
}

.d-select-img-desc {
    margin-top: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
}