/* 改变主题色变量 */

// #6b6bec 基佬紫
$--color-primary: #39BCF3;
$--color-success: #19BE6B;

/* 改变 icon 字体路径变量，必需 */

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";